<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Swoole/</directory>
        </testsuite>
        <testsuite name="e2e">
            <file>./tests/e2e/Client.php</file>
            <directory>./tests/e2e/Swoole/</directory>
        </testsuite>
    </testsuites>
</phpunit>